Variables

In [10]:
2 + 2 - 1

3

In [24]:
a = 2
print(a)
print(type(a))

2
<class 'int'>

In [25]:
a, b, c = 1, 2, 3

In [26]:
a_float = 2.123
print(a_float)
print(type(a_float))

2.123
<class 'float'>

In [27]:
a + a_float

3.123

In [28]:
a * a_float

2.123

In [29]:
a / a_float

0.4710315591144606

In [33]:
3 ** 4

81

In [43]:
print(11%3, 4+1)
1+2
2+2

2 5

4

In [55]:
3 != 1, 3 <= 1, 3 >= 1

(True, False, True)

In [49]:
3>4, 3>1, 4==4.0

(False, True, True)

In [53]:
False and False, False and True, True and True, False or True

(False, False, True, True)

In [58]:
not 3==1

True

### List

In [60]:
_list = [1,2,3]

In [61]:
print(_list)

[1, 2, 3]

In [63]:
_list = [1, 2, 3, 4.3, 'string', [3,4]]
_list

[1, 2, 3, 4.3, 'string', [3, 4]]

In [64]:
type(_list)

list

In [69]:
_list[:3]

[1, 2, 3]

In [70]:
_list[:-1]

[1, 2, 3, 4.3, 'string']

In [71]:
_list[:-2]

[1, 2, 3, 4.3]

In [72]:
_list[1:3]

[2, 3]

In [73]:
_list[-3:]

[4.3, 'string', [3, 4]]

In [74]:
_list[::-1]

[[3, 4], 'string', 4.3, 3, 2, 1]

In [77]:
_list

[1, 2, 3, 4.3, 'string', [3, 4]]

In [78]:
_list[0:5:2]

[1, 3, 'string']

In [79]:
len(_list)

6

In [84]:
_list.append(10)

In [81]:
a = _list.append(10)

In [83]:
type(a)

NoneType

In [85]:
_list

[1, 2, 3, 4.3, 'string', [3, 4], 10, 10, 10]

In [87]:
list1 = [1,2,3,4]
list2 = ['a', 'b', 'c']
gabungan_list = list1+list2

In [88]:
gabungan_list

[1, 2, 3, 4, 'a', 'b', 'c']

In [89]:
list1.extend(list2)

In [90]:
list1

[1, 2, 3, 4, 'a', 'b', 'c']

In [92]:
list1.insert(4, 'tengah')

In [93]:
list1

[1, 2, 3, 4, 'tengah', 'a', 'b', 'c']

In [94]:
list1.remove('tengah')

In [95]:
list1.remove('kkk')

ValueError: list.remove(x): x not in list

In [96]:
4 in list1

True

In [97]:
'kkk' in list1

False

In [98]:
list1

[1, 2, 3, 4, 'a', 'b', 'c']

In [99]:
list3 = list1

In [100]:
list3.append('tambahan elemen')

In [101]:
list3

[1, 2, 3, 4, 'a', 'b', 'c', 'tambahan elemen']

In [102]:
list1

[1, 2, 3, 4, 'a', 'b', 'c', 'tambahan elemen']

In [103]:
list4 = [1,2,3]
list5 = list4.copy()
list5.append(4)
list5

[1, 2, 3, 4]

In [104]:
list4

[1, 2, 3]

In [112]:
list4[0] = 10

In [113]:
list4

[10, 2, 3]

In [119]:
del list4[1]

In [120]:
list4

[10, 3]

## Tuple

In [121]:
_tuple = (1,2,3,)

In [122]:
type(_tuple)

tuple

In [123]:
_tuple[1:-1]

(2,)

In [124]:
_tuple[1] = 20

TypeError: 'tuple' object does not support item assignment

In [125]:
del _tuple[1]

TypeError: 'tuple' object doesn't support item deletion

In [126]:
list(_tuple)

[1, 2, 3]

In [129]:
tuple(list4)

(10, 3)

In [131]:
int(3.9)

3

In [132]:
float(4)

4.0

In [138]:
float('123')

123.0

In [139]:
# _dict = {'key1': 'value1', 'key2': 'value2', ...}

In [140]:
d = {"param1": 1, "param2": True, "param3": "red"}

In [149]:
d2 = {
    1:2, 
    'str': [1,2,3], 
    1.2: ('a', 'b', 1), 
    (1,2,3): 'tuple'
}

In [146]:
d3 = {(1,2,3): 1}

In [150]:
d2[1]

2

In [151]:
d2['str']

[1, 2, 3]

In [152]:
d2[1.2]

('a', 'b', 1)

In [153]:
d2[(1,2,3)]

'tuple'

In [155]:
tuple(d2)

(1, 'str', 1.2, (1, 2, 3))

In [156]:
d2.keys()

dict_keys([1, 'str', 1.2, (1, 2, 3)])

In [157]:
d2.values()

dict_values([2, [1, 2, 3], ('a', 'b', 1), 'tuple'])

### string

In [158]:
text = 'ini text'

In [161]:
text[0:5]

'ini t'

In [165]:
text2 = 'ini text 2'

In [166]:
text + ' ' + text2

'ini text ini text 2'

In [167]:
text + 21

TypeError: can only concatenate str (not "int") to str

In [168]:
variable = 43
'ini variable {}'.format(variable)

'ini variable 43'

In [169]:
f'ini variable {variable}'

'ini variable 43'

In [170]:
variable2 = 30.000

In [171]:
'ini variable {} dan {}'.format(variable, )

IndexError: Replacement index 1 out of range for positional args tuple

In [172]:
'ini variable {} dan {}'.format(variable, variable2)

'ini variable 43 dan 30.0'

In [173]:
f'ini variable {variable} dan {variable2}'

'ini variable 43 dan 30.0'

## Loop

In [175]:
_list = [1,2,3,4,5,6,7]

In [176]:
for item in _list:
    print(item)

1
2
3
4
5
6
7

In [179]:
for idx, item in enumerate(_list):
    print(f"elemen ke {idx} : {item}")

elemen ke 0 : 1
elemen ke 1 : 2
elemen ke 2 : 3
elemen ke 3 : 4
elemen ke 4 : 5
elemen ke 5 : 6
elemen ke 6 : 7

In [181]:
for idx, item in enumerate(_list, start=3):
    print(f"elemen ke {idx} : {item}")

elemen ke 3 : 1
elemen ke 4 : 2
elemen ke 5 : 3
elemen ke 6 : 4
elemen ke 7 : 5
elemen ke 8 : 6
elemen ke 9 : 7

In [185]:
for k, v in d2.items():
    print(k, '\t', v)

1 	 2
str 	 [1, 2, 3]
1.2 	 ('a', 'b', 1)
(1, 2, 3) 	 tuple

In [186]:
for item in d2:
    print(item)

1
str
1.2
(1, 2, 3)

In [187]:
for item in d2.keys():
    print(item)

1
str
1.2
(1, 2, 3)

In [188]:
for item in d2.values():
    print(item)

2
[1, 2, 3]
('a', 'b', 1)
tuple

In [190]:
for item in _tuple:
    print(item)

1
2
3

In [212]:
list(range(1, 1001))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000]

In [207]:
for i in range(1, 1001, 5):
    print(i)

1
6
11
16
21
26
31
36
41
46
51
56
61
66
71
76
81
86
91
96
101
106
111
116
121
126
131
136
141
146
151
156
161
166
171
176
181
186
191
196
201
206
211
216
221
226
231
236
241
246
251
256
261
266
271
276
281
286
291
296
301
306
311
316
321
326
331
336
341
346
351
356
361
366
371
376
381
386
391
396
401
406
411
416
421
426
431
436
441
446
451
456
461
466
471
476
481
486
491
496
501
506
511
516
521
526
531
536
541
546
551
556
561
566
571
576
581
586
591
596
601
606
611
616
621
626
631
636
641
646
651
656
661
666
671
676
681
686
691
696
701
706
711
716
721
726
731
736
741
746
751
756
761
766
771
776
781
786
791
796
801
806
811
816
821
826
831
836
841
846
851
856
861
866
871
876
881
886
891
896
901
906
911
916
921
926
931
936
941
946
951
956
961
966
971
976
981
986
991
996

### list comprehensive

In [191]:
[l for l in _list]

[1, 2, 3, 4, 5, 6, 7]

In [194]:
[[i, l] for i, l in enumerate(_list)]

[[0, 1], [1, 2], [2, 3], [3, 4], [4, 5], [5, 6], [6, 7]]

In [199]:
1%2

1

In [198]:
10%2, 4%2, 5%2

(0, 0, 1)

In [200]:
[l for l in _list if l%2==0]

[2, 4, 6]

In [201]:
[l*2 for l in _list]

[2, 4, 6, 8, 10, 12, 14]

In [202]:
{k:v for k,v in d2.items()}

{1: 2, 'str': [1, 2, 3], 1.2: ('a', 'b', 1), (1, 2, 3): 'tuple'}

In [204]:
{k:v for k,v in d2.items() if type(k)==float}

{1.2: ('a', 'b', 1)}

In [218]:
[l for l in range(8, 1000) if l%7==0]

[14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 77,
 84,
 91,
 98,
 105,
 112,
 119,
 126,
 133,
 140,
 147,
 154,
 161,
 168,
 175,
 182,
 189,
 196,
 203,
 210,
 217,
 224,
 231,
 238,
 245,
 252,
 259,
 266,
 273,
 280,
 287,
 294,
 301,
 308,
 315,
 322,
 329,
 336,
 343,
 350,
 357,
 364,
 371,
 378,
 385,
 392,
 399,
 406,
 413,
 420,
 427,
 434,
 441,
 448,
 455,
 462,
 469,
 476,
 483,
 490,
 497,
 504,
 511,
 518,
 525,
 532,
 539,
 546,
 553,
 560,
 567,
 574,
 581,
 588,
 595,
 602,
 609,
 616,
 623,
 630,
 637,
 644,
 651,
 658,
 665,
 672,
 679,
 686,
 693,
 700,
 707,
 714,
 721,
 728,
 735,
 742,
 749,
 756,
 763,
 770,
 777,
 784,
 791,
 798,
 805,
 812,
 819,
 826,
 833,
 840,
 847,
 854,
 861,
 868,
 875,
 882,
 889,
 896,
 903,
 910,
 917,
 924,
 931,
 938,
 945,
 952,
 959,
 966,
 973,
 980,
 987,
 994]

In [2]:
i=0
while i<10:
    print(i)
#     i = i+1
    i+=1 # i = i+1

0
1
2
3
4
5
6
7
8
9

In [3]:
iterate = 0
while True:
    print(iterate)
    iterate += 1
    if iterate==10:
        break

0
1
2
3
4
5
6
7
8
9

In [8]:
i = 10
i-=2
print(i)

i = 10
i*=2
print(i)

i = 10
i/=2
print(i)

8
20
5.0

In [9]:
statement1 = True
statement2 = False

if statement1:
    print('statement1')
elif statement2:
    print('statement1')
else:
    print('kondisi else')

statement1

In [12]:
bilangan =0
if bilangan == 0:
    print('ngga positive ngga negative')
elif bilangan<0:
    print('negative')
else:
    print('positive')

ngga positive ngga negative

In [19]:
if ():
    print('chek')
    
if [1,2,3]:
    print('chek2')

chek2

In [22]:
if ' ':
    print('chek')

chek

### Functions

In [50]:
def check_negative_positive(bilangan):
    if bilangan == 0:
        hasil = 'ngga positive ngga negative'
    elif bilangan<0:
        hasil = 'negative'
    else:
        hasil = 'positive'
    return hasil

def get_first_even_number(number_list):
    for number in number_list:
        if number%2==0:
            return number
        
def powers(x):
    return x**2, x**3, x**4

def check_negative_positive_non_return(bilangan):
    if bilangan == 0:
        hasil = 'ngga positive ngga negative'
    elif bilangan<0:
        hasil = 'negative'
    else:
        hasil = 'positive'

In [37]:
result = check_negative_positive(-10)
result

'negative'

In [38]:
get_first_even_number([1,3,5,10,2,3])

1
3
5
10

10

In [43]:
a, b, c = powers(10)

In [44]:
result_power = powers(10)
a, b, c = result_power

In [47]:
result_non_return = check_negative_positive_non_return(10)
print(result_non_return)

None

In [48]:
type(result_non_return)

NoneType

In [51]:
a = get_first_even_number([1,3,9])
a

In [52]:
print(a)

None

### Excercise

1. Buat fungsi untuk men-generate seperti deret fibonacci. Input (bilangan_pertama, bilangan_kedua, panjang_deret)
ex: bilangan_pertama = 1
bilangan_kedua = 2
panjang_deret = 5
result = [1,2,3,5,8]
2. Hitung berapa kali suatu angka muncul dalam suatu rentang. Input (batas_bawah, batas_atas, angka)
ex: 
batas_bawah = 1
batas_atas = 30
angka = 2
result = 12 -> [2,12,21,22,23,24,25,26,27,28,29] #22 dihitung 2

In [54]:
def generate_like_fibonacci(bilangan_pertama, bilangan_kedua, panjang_deret):
    pass
#     write code here